.home {
    background: linear-gradient(90deg, rgba(69,69,69,1) 0%, rgba(154,154,154,1) 43%, rgba(233,233,233,1) 100%);
    background-size: auto;
    background-repeat: no-repeat;
}

.intro {
    text-align: right;
    font-size: 48px;
    color: white;
}

.intro-desc {
    text-align: right;
    font-size: 32px;
    color: white;
}

.portfolio-list{
    list-style-type: none;
    margin-top: 40px;
    font-size: 36px;
}

.portfolio-list a {
    color: #454545;
    text-decoration: none;
}

.portfolio-list a:hover {
    text-decoration: underline;
    color: #E49393;
}

.graphics-design a {
    color: black;
    text-decoration: none;
}

.graphics-design a:hover {
    color: red;
    text-decoration: underline;
}

.web-development a {
    color: white;
    text-decoration: none;
}

.web-development a:hover {
    color: red;
    text-decoration: underline  ;
}

.me a {
    color: white;
}

.me a:hover {
    color: red;
}